In [0]:
# Loading our sql then connecting to the database.
%load_ext sql

%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [0]:
# Importing csv to handle our csv files.
# Importing pandas in order to work with the dataframes in our csv files
#
import csv
import pandas as pd

In [0]:
# Loading GrandElectors_by_state.csv 
# Dropping the table Electors if it exists in our database.
# Persist our Electors table with new values.
#
with open('GrandElectors_by_state.csv', 'r')as f:
  Electors = pd.read_csv(f, index_col=0, encoding='utf-8')

%sql DROP IF EXISTS Electors;
%sql PERSIST Electors;

 * sqlite://
(sqlite3.OperationalError) near "IF": syntax error
[SQL: DROP IF EXISTS Electors;]
(Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite://

'Persisted electors'

In [0]:
# Here we select all columns from table Electors but only the first five rows.
#
%sql SELECT * FROM Electors limit 5;

 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [0]:
# Loading Population_by_state.csv 
# Dropping the table population_by_state if it exists in our database.
# Persist our population_by_state table with new values.
#
with open('Population_by_state.csv', 'r')as f:
  population_by_state = pd.read_csv(f, index_col=0, encoding='utf-8')

%sql DROP IF EXISTS population_by_state;
%sql PERSIST population_by_state;

 * sqlite://
(sqlite3.OperationalError) near "IF": syntax error
[SQL: DROP IF EXISTS population_by_state;]
(Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite://

'Persisted population_by_state'

In [0]:
# Here we select all columns from table population_by_state but only the first five rows.
#
%sql SELECT * FROM population_by_state limit 5;

 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

1. To join the 2 tables:
You notice States are not capitalized the same way in both tables (one is in uppercase letters, the other not), so you will first need to convert all to uppercase, for instance.
Now you can join the tables on the state key.

In [0]:
# Capitalizing the column States column.
# 
%%sql
SELECT UPPER(State) 
FROM Electors limit 5;

 * sqlite://
Done.

[('ALABAMA',), ('ALASKA',), ('ARIZONA',), ('ARKANSAS',), ('CALIFORNIA',)]

In [0]:
# Updating the Electors table with new  Upper case values for the states table.
%%sql 
UPDATE Electors set state = UPPER(State);

 * sqlite://
51 rows affected.

[]

In [0]:
# Here we join the two tables, Electors and population_by state
# into one table containing all the columns.
#
%%sql
create table New_state as 
SELECT Electors.state, population, GrandElectors
FROM Electors
INNER JOIN population_by_state
ON Electors.state = population_by_state.state;

 * sqlite://
Done.

[]

In [0]:
# Here we select all columns from our new table New_state to confirm 
# whether the changes took effect.
#
%%sql
SELECT * FROM New_state limit 5;

 * sqlite://
Done.

[('ALABAMA', 4858979, 9),
 ('ALASKA', 738432, 3),
 ('ARIZONA', 6828065, 11),
 ('ARKANSAS', 2978204, 6),
 ('CALIFORNIA', 39144818, 55)]

2. Your boss wants you to change the name of the "District of Columbia" state to its short version "DC". Please do that.

In [0]:
# here we rename the value "DISTRICT OF COLUMBIA" to "DC"
#
%%sql
UPDATE New_state
set State = "DC" 
WHERE state = "DISTRICT OF COLUMBIA";

 * sqlite://
1 rows affected.

[]

3. To compute the ratio between the number of grand electors and the population. Please create a new column with that ratio.

In [0]:
# Here we compute the ratio between population and GrandElectors.
#
%%sql
SELECT *, population/GrandElectors  as "Ratio"
FROM New_state;

 * sqlite://
Done.

[('ALABAMA', 4858979, 9, 539886),
 ('ALASKA', 738432, 3, 246144),
 ('ARIZONA', 6828065, 11, 620733),
 ('ARKANSAS', 2978204, 6, 496367),
 ('CALIFORNIA', 39144818, 55, 711723),
 ('COLORADO', 5456574, 9, 606286),
 ('CONNECTICUT', 3590886, 7, 512983),
 ('DC', 672228, 3, 224076),
 ('DELAWARE', 945934, 3, 315311),
 ('FLORIDA', 20271272, 29, 699009),
 ('GEORGIA', 10214860, 16, 638428),
 ('HAWAII', 1431603, 4, 357900),
 ('IDAHO', 1654930, 4, 413732),
 ('ILLINOIS', 12859995, 20, 642999),
 ('INDIANA', 6619680, 11, 601789),
 ('IOWA', 3123899, 6, 520649),
 ('KANSAS', 2911641, 6, 485273),
 ('KENTUCKY', 4425092, 8, 553136),
 ('LOUISIANA', 4670724, 8, 583840),
 ('MAINE', 1329328, 4, 332332),
 ('MARYLAND', 6006401, 10, 600640),
 ('MASSACHUSETTS', 6794422, 11, 617674),
 ('MICHIGAN', 9922576, 16, 620161),
 ('MINNESOTA', 5489594, 10, 548959),
 ('MISSISSIPPI', 2992333, 6, 498722),
 ('MISSOURI', 6083672, 10, 608367),
 ('MONTANA', 1032949, 3, 344316),
 ('NEBRASKA', 1896190, 5, 379238),
 ('NEVADA', 2890845, 6, 481807),
 ('NEW HAMPSHIRE', 1330608, 4, 332652),
 ('NEW JERSEY', 8958013, 14, 639858),
 ('NEW MEXICO', 2085109, 5, 417021),
 ('NEW YORK', 19795791, 29, 682613),
 ('NORTH CAROLINA', 10042802, 15, 669520),
 ('NORTH DAKOTA', 756927, 3, 252309),
 ('OHIO', 11613423, 18, 645190),
 ('OKLAHOMA', 3911338, 7, 558762),
 ('OREGON', 4028977, 7, 575568),
 ('PENNSYLVANIA', 12802503, 20, 640125),
 ('RHODE ISLAND', 1056298, 4, 264074),
 ('SOUTH CAROLINA', 4896146, 9, 544016),
 ('SOUTH DAKOTA', 858469, 3, 286156),
 ('TENNESSEE', 6600299, 11, 600027),
 ('TEXAS', 27469114, 38, 722871),
 ('UTAH', 2995919, 6, 499319),
 ('VERMONT', 626042, 3, 208680),
 ('VIRGINIA', 8382993, 13, 644845),
 ('WASHINGTON', 7170351, 12, 597529),
 ('WEST VIRGINIA', 1844128, 5, 368825),
 ('WISCONSIN', 5771337, 10, 577133),
 ('WYOMING', 586107, 3, 195369)]

4. To order the states by decreasing ratio of Grand Electors per capita. That will make our priority list.

In [0]:
# Ordering the states in decreasing ratio of GrandElectors but in Descending order.
%%sql
select State,Population, GrandElectors, (  Population /GrandElectors) as Ratio from New_state 
ORDER BY Ratio DESC

 * sqlite://
Done.

[('TEXAS', 27469114, 38, 722871),
 ('CALIFORNIA', 39144818, 55, 711723),
 ('FLORIDA', 20271272, 29, 699009),
 ('NEW YORK', 19795791, 29, 682613),
 ('NORTH CAROLINA', 10042802, 15, 669520),
 ('OHIO', 11613423, 18, 645190),
 ('VIRGINIA', 8382993, 13, 644845),
 ('ILLINOIS', 12859995, 20, 642999),
 ('PENNSYLVANIA', 12802503, 20, 640125),
 ('NEW JERSEY', 8958013, 14, 639858),
 ('GEORGIA', 10214860, 16, 638428),
 ('ARIZONA', 6828065, 11, 620733),
 ('MICHIGAN', 9922576, 16, 620161),
 ('MASSACHUSETTS', 6794422, 11, 617674),
 ('MISSOURI', 6083672, 10, 608367),
 ('COLORADO', 5456574, 9, 606286),
 ('INDIANA', 6619680, 11, 601789),
 ('MARYLAND', 6006401, 10, 600640),
 ('TENNESSEE', 6600299, 11, 600027),
 ('WASHINGTON', 7170351, 12, 597529),
 ('LOUISIANA', 4670724, 8, 583840),
 ('WISCONSIN', 5771337, 10, 577133),
 ('OREGON', 4028977, 7, 575568),
 ('OKLAHOMA', 3911338, 7, 558762),
 ('KENTUCKY', 4425092, 8, 553136),
 ('MINNESOTA', 5489594, 10, 548959),
 ('SOUTH CAROLINA', 4896146, 9, 544016),
 ('ALABAMA', 4858979, 9, 539886),
 ('IOWA', 3123899, 6, 520649),
 ('CONNECTICUT', 3590886, 7, 512983),
 ('UTAH', 2995919, 6, 499319),
 ('MISSISSIPPI', 2992333, 6, 498722),
 ('ARKANSAS', 2978204, 6, 496367),
 ('KANSAS', 2911641, 6, 485273),
 ('NEVADA', 2890845, 6, 481807),
 ('NEW MEXICO', 2085109, 5, 417021),
 ('IDAHO', 1654930, 4, 413732),
 ('NEBRASKA', 1896190, 5, 379238),
 ('WEST VIRGINIA', 1844128, 5, 368825),
 ('HAWAII', 1431603, 4, 357900),
 ('MONTANA', 1032949, 3, 344316),
 ('NEW HAMPSHIRE', 1330608, 4, 332652),
 ('MAINE', 1329328, 4, 332332),
 ('DELAWARE', 945934, 3, 315311),
 ('SOUTH DAKOTA', 858469, 3, 286156),
 ('RHODE ISLAND', 1056298, 4, 264074),
 ('NORTH DAKOTA', 756927, 3, 252309),
 ('ALASKA', 738432, 3, 246144),
 ('DC', 672228, 3, 224076),
 ('VERMONT', 626042, 3, 208680),
 ('WYOMING', 586107, 3, 195369)]

5. To compute the running total of Grand Electors in that sorted list.
Hint: you can get inspiration from here to compute a running total from here:

In [25]:
# Here we compute the running total  of the Grand Electors but in descending order.
%%sql
SELECT New_State.State, New_State.GrandElectors, SUM(New_State.GrandElectors) Running_Total
FROM New_State 
WHERE New_State.GrandElectors <= New_State.GrandElectors or (New_State.GrandElectors=New_State.GrandElectors and New_State.State = New_State.State)
GROUP BY New_State.State, New_State.GrandElectors
ORDER BY New_State.GrandElectors DESC, New_State.State DESC limit 10

 * sqlite://
Done.

[('CALIFORNIA', 55, 55),
 ('TEXAS', 38, 38),
 ('NEW YORK', 29, 29),
 ('FLORIDA', 29, 29),
 ('PENNSYLVANIA', 20, 20),
 ('ILLINOIS', 20, 20),
 ('OHIO', 18, 18),
 ('MICHIGAN', 16, 16),
 ('GEORGIA', 16, 16),
 ('NORTH CAROLINA', 15, 15)]

6. Independently, to compute the half of the total of Grand Electors overall (in the whole country):
This is the threshold we need to reach for winning the presidential election.

In [0]:
# Here we calculate half the total of Grand Electors in the whole country
%%sql
SELECT SUM(GrandElectors)/2 FROM New_state

 * sqlite://
Done.

[(269,)]

7. To filter our sorted list of states in order to keep only the (top) ones enabling us to reach the computed threshold. (the other states can be ignored). That is our target list.
Hint: You can do that in 2 steps:
Select all the states for which the running total is below or equal to the threshold.
Add the first state for which the running total is larger than the threshold.

In [30]:

# Here we filter our sorted list of states in order to keep only the 
# five top ones enabling us to reach the computed threshold
%%sql
SELECT New_state.State, New_state.GrandElectors, SUM(New_state.GrandElectors) Running_Total
FROM New_state
WHERE New_state.GrandElectors <= New_state.GrandElectors or (New_state.GrandElectors=New_state.GrandElectors and New_state.State = New_state.State)
GROUP BY New_state.State, New_state.GrandElectors
ORDER BY New_state.GrandElectors DESC, New_state.State DESC limit 5

 * sqlite://
Done.

[('CALIFORNIA', 55, 55),
 ('TEXAS', 38, 38),
 ('NEW YORK', 29, 29),
 ('FLORIDA', 29, 29),
 ('PENNSYLVANIA', 20, 20)]